@* @page "/weatherforecast" *@
@page "/fetchdata"

@using EspressoJournal.Data
@using Radzen
@using Radzen.Blazor
@using Microsoft.AspNetCore.Components.Web

@inject WeatherForecastService ForecastService
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject TooltipService TooltipService
@inject ContextMenuService ContextMenuService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<RadzenDataGrid Data="@forecasts" TItem="WeatherForecast" ColumnWidth="300px">
    <Columns>
        <RadzenDataGridColumn  TItem="WeatherForecast" Property="Date" Title="Date" FormatString="{0:d}" />
        <RadzenDataGridColumn  TItem="WeatherForecast" Property="TemperatureC" Title="Temp. (C)" />
        <RadzenDataGridColumn  TItem="WeatherForecast" Property="TemperatureF" Title="Temp. (F)" />
        <RadzenDataGridColumn  TItem="WeatherForecast" Property="Summary" Title="Summary" />
    </Columns>
</RadzenDataGrid>

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}