@* @page "/weatherforecast" *@
@page "/fetchdata"

@using EspressoJournal.Data
@using Radzen

@inject WeatherForecastService ForecastService
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject TooltipService TooltipService
@inject ContextMenuService ContextMenuService

<PageTitle>Weather Forecast</PageTitle>
@* <h1>Weather forecast</h1> *@

<p>This component demonstrates fetching data from a service.</p>

<RadzenDataGrid Data="@forecasts" TItem="WeatherForecast">
    <Columns>
        <RadzenDataGridColumn TItem="WeatherForecast" Property="Date" Title="Date" />
        <RadzenDataGridColumn  TItem="WeatherForecast" Property="TemperatureC" Title="Temp. (C)" />
        <RadzenDataGridColumn  TItem="WeatherForecast" Property="TemperatureF" Title="Temp. (F)" />
        <RadzenDataGridColumn  TItem="WeatherForecast" Property="Summary" Title="Summary" />
    </Columns>
</RadzenDataGrid>

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}